<%# # show sweet message we link to create company %>

    <main>
        <div class="card text-center" style="width: 80vw; margin: auto;">
            <div class="card-body">
                <h5 class="card-title">Welcome to Employee Review System</h5>
                <p class="card-text">Welcome ! this is my rewiew page</p>
                <a href="/create-company" class="btn btn-primary">Get Started</a>
            </div>
        </div>
    </main>